body {
    background-color: rgb(44, 135, 192);
    color: rgba(223, 212, 197, 1);
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    /* background-image:url(https://media.tenor.com/xefRiOCV7GsAAAAj/confetti-girl-scout.gif); background-repeat:repeat; */
  }
  div {
    display: inline-block;
  }
  h1 {
    color: rgb(273, 262, 247);
    font-size: 28px;
  }
  p {
    font-family: Poppins;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
  }
  p {
    color: white;
  }
  input::-webkit-outer-spin-button, /*to get rid of the arrows on the input thing */
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input {
    background-color: red;
    border: solid;
    border-width: 2px;
    border-radius: 10px;
    text-align: center;
    font-family: Verdana, sans-serif;
    width: 25px;
    height: 25px;
    color: white;
    border-color: black;
  }