
  .cookie {
    background-color: rgb(235, 217, 181);
    border-width: 0px;
    border-radius: 100px;
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: bold;
    color: rgb(185, 109, 64);
    border: solid;
    box-shadow: 4px 5px 10px rgba(255, 255, 255, 0.2);
    transition: background-color 0.15s, color 0.15s, opacity 0.15s;
    margin-bottom: 8px;
    cursor: pointer;
  }
  .cookie:hover {
    background-color: rgb(241, 200, 119);
  }
  .cookie:active {
    margin-top: 8px;
    margin-left: 8px;
    box-shadow: none;
    margin-bottom: 0px;
    background-color:rgb(219, 155, 82);
  }
  .reborn {
    color: orange;
    text-decoration: underline;
    font-weight: bold;
  }
  .buttonDecoration {
    cursor: pointer;
    background-color: rgb(245, 212, 145);
    border-color: rgb(185, 109, 64);
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
    padding-right:10px;
    font-weight: bold;
    border-radius: 12px;
    transition: background-color 0.15s, color 0.15s, opacity 0.15s;
  
  }
  .buttonDecoration:hover {
    background-color: rgb(190, 144, 51);
    color: white;
    border-width: 3px;
  }
  .golden {
    color: gold;
  }
